table {
    width: 100%;
  }

  thead {
      background-color: blue;
  }
  
  th {
    height: 70px;
    font-weight: bold;
  }
th, td {
    padding: 15px;
    text-align: left;
  }



  th, td {
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}