<div class="modal-body">
    <form id="update" #updateForm="ngForm" (ngSubmit)="onUpdateEmployee(updateForm)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" [(ngModel)]='employee.name' id="name" placeholder="Name" required>
        </div>

        <input type="hidden" ngModel name="id" class="form-control" [(ngModel)]='employee.id' id="id" required>
        <input type="hidden" ngModel name="employeeCode" class="form-control" [(ngModel)]='employee.employeeCode' id="id" required>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ngModel name="email" class="form-control"  [(ngModel)]='employee.email' id="email" placeholder="Email" required>
        </div>

        <div class="form-group">
            <label for="phone">Job Title</label>
            <input type="text" ngModel name="jobTitle" class="form-control" [(ngModel)]='employee.jobTitle' id="jobTitle" placeholder="JobTitle" required>
        </div>

        <div class="form-group">
            <label for="name">Phone</label>
            <input type="text" ngModel name="phone" class="form-control" [(ngModel)]='employee.phone' id="phone" placeholder="Phone" required>
        </div>

        <div class="form-group">
            <label for="imageUrl">Image</label>
            <input type="text" ngModel name="imageUrl" class="form-control" [(ngModel)]='employee.imageUrl' id="imageUrl" placeholder="Image URL" required>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary">Update</button>
        </div>

    </form>
</div>